#outter-about-page-container {
    background-color: rgba(255, 255, 255, 0.784);
    border-radius: 140px;
    padding: 20px;
    min-height: 620px;
    max-width: 1050px;
    min-width: 1050px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#inner-about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 530px;
    /* margin: 45px; */
    border-radius: 60px;
    background-color: white;
}