.outter-about-page-container {
    background-color: rgba(255, 255, 255, 0.784);
    border-radius: 140px;
    padding: 20px;
    min-height: 620px;
    max-width: 1050px;
    min-width: 1050px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.inner-about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 530px;
    /* margin: 45px; */
    border-radius: 60px;
    background-color: white;
}

.team-member-photo {
    height: 72px;
    border-radius: 50%;
}

.social-media-icon {
    height: 42px;
    margin: 4px;
}

.about-page-team-member-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
}

.left-team-member-container {
    display: flex;
        flex-direction: row;
}

.team-member-name-role-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.right-team-member-container {
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.team-member-name-role-container > span {
    padding: 3px 0px;
}

.team-member-title {
    font-size: 14px;
}

.team-member-name {
    font-weight: 500;
}