.modal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.venue-title {
  text-align: center;
}

.venue-title h3 {
  font-size: 26px;
}

.modal-card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.venue-image {
  height: 400px;
}

.venue-image img {
  border-radius: 10px;
  object-fit: cover;
  height: 400px;
  width: 500px;
}

.main-page-button.confirm.logged-out {
  border-color: #7e9ff1a9;
  background-color: #7e9ff1a9;
  cursor: default;
}

.confirm-button {
  background: #42a362;
  font-size: 35px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.modal-card-main-content {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.confirm-button-errors {
  display: flex;
  justify-content: center;
  margin-top: -8px;
}

.confirm-button-errors h3 {
  color: red;
  position: fixed;
}

.modal-card-main-content div.nav-left-arrow,
.modal-card-main-content div.nav-right-arrow {
  padding: 40px;
}
.modal-card-main-content div.nav-left-arrow img,
.modal-card-main-content div.nav-right-arrow img {
  width: 50px;
}
