#itinerary-show-page-container {
  background-color: rgba(255, 255, 255, 0.784);
  border-radius: 140px;
  padding: 80px;
  min-height: 480px;
  max-width: 1250px;
  min-width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#itinerary-show-buttons-container {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
}

.itinerary-show-button {
  width: 260px;
  height: 38px;
  margin: 20px;
  font-size: 16px;
  border-radius: 15px;
  border-style: solid;
  border-color: #2d3958;
  background-color: #2d3958;
  color: white;
  cursor: pointer;
}

.itinerary-show-page-subheader {
  color: #2d3958;
  font-weight: 500;
  font-size: 28px;
}

#map-subheader {
  margin: 30px 0px;
  font-size: 24px;
}

.option-container.no-pointer {
  cursor: default;
}

#itinerary-show-subheader-container {
  display: flex;
  justify-content: center;
}

.edit-title-form {
  display: flex;
  justify-content: center;
}

.edit-title-button img {
  width: 25px;
  margin: -1px 0 0 30px;
  position: absolute;
}
