#main-page-container {
    background-color: rgba(255, 255, 255, 0.784);
    border-radius: 140px;
    padding: 20px;
    min-height: 600px;
    max-width: 1250px;
    min-width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

#main-page-subheader {
    /* color: white; */
    color: #2d3958;
    font-weight: 500;
    font-size: 28px;
    margin: 26px 0px 0px 0px;
}
#options-container {
    display: flex;
    flex-direction: row;
}

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 280px;
    margin: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.option-image {
    margin-top: 24px;
    height: 200px;
    width: 230px;
    object-fit: cover;
    border-radius: 20px;
}

.option-venue-name {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
}

#main-page-instructions-container {
    /* background-color: white;
    padding: 10px;
    border-radius: 15px; */
}
#main-page-instructions {
    color: #2d3958;
    font-weight: 500;
    font-size: 24px;
    margin-top: 12px;
}

#main-page-buttons-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.main-page-button {
    width: 260px;
    height: 38px;
    margin: 20px;
    font-size: 16px;
    border-radius: 15px;
    border-style: solid;
    border-color: #2d3958;
    background-color: #2d3958;
    color: white;
    cursor: pointer;
}

#select-neighborhood-button {
    width: 260px;
    height: 38px;
    margin: 20px 0px 0px 0px;
    font-size: 16px;
    border-radius: 15px;
    border-style: solid;
    border-color: #77828C;
    background-color: #77828C;
    color: white;
    cursor: pointer;
}

.neighborhood-dropdown {
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    width: 240px;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    border: 1px solid rgb(188, 188, 188);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.143);
    background-color: white;
    text-decoration: none;
    z-index: 10;
}

.neighborhood-dropdown > li {
    cursor: pointer;
}

#main-page-customization-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.toggle-container {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    top: 8px;
}

.toggle-switch-label {
    margin: 18px 8px 0px 8px;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: " ";
    padding-left: 10px;
    background-color: #77828C;
    color: #fff;
}

.inner:after {
    content: " ";
    padding-right: 10px;
    background-color: #77828C;
    color: #fff;
    text-align: right;
}

.switch {
    display: block;
    height: 41px;
    width: 45px;
    margin: 5px 0px 5px 0px;
    background: #fff;
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 30px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.checkbox:checked+.label .inner {
    margin-left: 0;
}

.checkbox:checked+.label .switch {
    right: 0px;
}