#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 62px;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    font-weight: 500;
    margin-right: 80px;
    color: white;
}

#signup-form-nav-link {
    margin-right: 30px;
}

#main-logo {
    height: 90px;
}

.links-nav {
    display: flex;
    margin-right: 10px;
}

.logged-in-nav-link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    margin-right: 42px;
    color: white;
    cursor: pointer;
}

