#email-form-list-container {
    display: flex;
        flex-direction: column;
        height: 100%;
}

#outter-top-email-form-list-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#inner-top-email-form-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outter-bottom-email-form-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-email-form {
    display: flex;
flex-direction: column;
}