/* 
    Main colors:
        Slate: #77828C 
        Light gray: #AAB5BF 
        Cream: #F2DCC9 
        Dark gray: #403B39 
        Black: #0D0000
*/

form>.errors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    padding: 4px 0px;
    align-items: center;
}

* {
    font-family: 'Poppins', sans-serif;
}

#root {
    min-height: 900px;
    background-image: image("https://vastphotos.com/files/uploads/photos/10321/black-white-new-york-city-photo-l.jpg?v=20220712073521");
    /* background-image: linear-gradient(0deg, #77828C 0%, #F2DCC9 100%); */
}

html {
    min-height: 100%;
    background: url(https://vastphotos.com/files/uploads/photos/10321/black-white-new-york-city-photo-l.jpg?v=20220712073521);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 110, 255, 0.211);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    color: #403B39;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}